<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.akhalikov.adstats" level="INFO"/>
    <logger name="org.springframework.boot.web.embedded.undertow" level="INFO"/>

    <logger name="io.undertow.websockets" level="ERROR"/>
    <logger name="org.springframework.web" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
